/* Estilos para el cuerpo */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #3a5795;
    color: #fff;
    font-size: 11px;
}

header h1 {
    text-align: center;
}

/* Clases */
.ancho-total {
    width: 100%;
}
.medio-ancho {
    width: 50%;
}
.recuadro {
    display: flex;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #ccc;
}
.azul-claro {
    background-color: #d3e7ea;
}
.azul-oscuro {
    background-color: #88a0d7;
    color: #fff;
}
.flotar-izquierda {
    float: left;
}
.flotar-derecha {
    float: right;
}